/* to disable native browse scrollbar */
body {
   overflow:hidden;
}

.ui-content {
   padding:1px !important;
}
a.jobdetail.ui-btn {
   padding:0px;
}
.controlgroup-textinput{
    padding-top:.20em;
    padding-bottom:.20em;
}

/************************************JobList Page****************************/

.ui-listview li a {padding-top:1px !important;padding-bottom:1px !important;margin-top:1px !important;margin-bottom:1px !important;}
.ui-listview li a p span{color:#9e9e9e;line-height:12px;margin-right:12px;}
.ui-listview li a pre {height:38px; line-height:12px;white-space: normal; overflow:hidden;margin-top:0px;margin-bottom:0px;font-size:11px;font-weight:normal;}
/* adding minor summary info in the header bar */
#joblist_summary {
    font-size:10px;
}

.ui-controlgroup-controls > .ui-checkbox > label {
   /*Cant use .filter_input_wrapper > label, jqm will add other two level of elements, Use !important to overwrite jqm's default behavior */
   text-overflow:ellipsis !important;
   overflow:hidden !important;
   white-space: nowrap !important;
}

.panel_jobfilter_iscroller_wrapper {
   height: 175px !important;
}
.panel_jobfilter_iscroller_wrapper .iscroll-scroller {
   right: 0px !important;
}
.panel_jobfilter_iscroller_wrapper .iscroll-scroller .iscroll-content {
   padding: 0px !important;
}
/**********************************JobFilter Page***************************/
.page_jobfilter_iscroller_wrapper .iscroll-scroller {
   width: 100% !important;
}
.page_jobfilter_iscroller_wrapper .iscroll-scroller .iscroll-content {
   padding: 0px !important;
}


/**********************************JobDetail Page***************************/
#job_detail_page .ui-block-a,.ui-block-b,.ui-block-c {
   text-align: center;
}

/* for favoritelist view, iscroll-scroller to always fullwidth */
.iscroll-scroller {
    width: 100%;
}

/* for navigation bar's to have same height as button */
.dark-theme a, .dark-theme span {
    line-height: 44px !important;
}

.ui-icon-testserver {
  background: url(images/Connect_logo_testserver.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  box-shadow: none;
}

.ui-icon-qq {
  background: url(images/Connect_logo_qq.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  box-shadow: none;
}

.ui-icon-sina {
  background: url(images/Connect_logo_sina.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  box-shadow: none;
}

.ui-icon-baidu {
  background: url(images/Connect_logo_baidu.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  box-shadow: none;
}

.back-btn-wrapper {
  float:right;
}
@media (max-width: 600px) {
.back-btn-wrapper {
  display:none;
}
}

.pagination-wrapper {
  width: 320px;
  margin:0px auto;
}

.ui-page {
  background-color: rgb(186, 200, 213) !important;
}

/*
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
  background:url(images/background.jpg) 0 0 repeat;
}
*/
