/* to disable native browse scrollbar */
body {
   overflow:hidden;
}
.ui-content {
   /* margin: 0px !important;*/
   padding: 0px 4px !important;
}

.controlgroup-textinput{
    padding-top:.20em;
    padding-bottom:.20em;
}

/************************************JobList Page****************************/
/*  styles used when listview with table
#joblist_listview li {border-bottom:0px #ccc dotted;}
td.job_listview_item_btn {align:right;text-align:right;float:right;width: 90px;margin-right:23px;}
td.job_listview_title {float:left;color:#3359ac;font-weight: bold;padding-left: 10px;}
td.job_listview_info {float:left;padding-left:15px;padding-top:0px;padding-bottom:0px;font-size:12px;}
td.job_listview_info span{color:#9e9e9e;line-height:12px;margin-right:15px;}
td.job_listview_description {colspan:"2";padding-left:10px;}
td.job_listview_description pre.job_description {width:100%;height:55px; line-height:14px;white-space: normal; overflow:hidden;margin-top:0px;margin-bottom:0px;}   
*/

.ui-listview li a {padding-top:1px !important;padding-bottom:1px !important;margin-top:1px !important;margin-bottom:1px !important;}
.ui-listview li a p span{color:#9e9e9e;line-height:12px;margin-right:15px;}
.ui-listview li a pre {height:38px; line-height:12px;white-space: normal; overflow:hidden;margin-top:0px;margin-bottom:0px;font-size:11px;font-weight:normal;}
/* adding minor summary info in the header bar */
#joblist_summary {
    font-size:10px;
}
/************************************JobFilter Panel*************************/
/* Wider panel NOT work: Need set data-display:overlay instead of reveal, and clickable area still old default size 
.ui-panel{  width: 400px; } 
div.panel_jobfilter_wrapper {
    border: 1px dotted #ABABAB !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 0px !important; 
    padding-bottom: 0px !important;
    margin: 5px !important;
}
.filter_input_wrapper { padding:0px;margin:0px; }
table.filter_input_wrapper { width:100%; }
*/
.ui-controlgroup-controls > .ui-checkbox > label {
   /*Cant use .filter_input_wrapper > label, jqm will add other two level of elements, Use !important to overwrite jqm's default behavior */
   text-overflow:ellipsis !important;
   overflow:hidden !important;
   white-space: nowrap !important;
}

.panel_jobfilter_iscroller_wrapper {
   height: 175px !important;
}
.panel_jobfilter_iscroller_wrapper .iscroll-scroller {
   right: 0px !important;
}
.panel_jobfilter_iscroller_wrapper .iscroll-scroller .iscroll-content {
   padding: 0px !important;
}
/**********************************JobFilter Page***************************/
.page_jobfilter_iscroller_wrapper .iscroll-scroller {
   width: 100% !important;
}
.page_jobfilter_iscroller_wrapper .iscroll-scroller .iscroll-content {
   padding: 0px !important;
}


/**********************************JobDetail Page***************************/
#job_detail_page .ui-block-a,.ui-block-b,.ui-block-c {
   text-align: center;
}

/* for favoritelist view, iscroll-scroller to always fullwidth */
.iscroll-scroller {
    width: 100%;
}

/* for navigation bar's to have same height as button */
.dark-theme a, .dark-theme span {
    line-height: 44px !important;
}

/* @media all and (min-width: 45em) { */
@media all{
    .grid-a-91.ui-grid-a .ui-block-a { width: 89.95%; }
    .grid-a-91.ui-grid-a .ui-block-b { width: 9.925%; }
    .grid-b-811.ui-grid-b > .ui-block-a { width: 69.9% !important; }
    .grid-b-811.ui-grid-b > .ui-block-b,
    .grid-b-811.ui-grid-b > .ui-block-c { width: 14.9% !important; }
    .grid-b-622.ui-grid-b > .ui-block-a { width: 59.9% !important; }
    .grid-b-622.ui-grid-b > .ui-block-b,
    .grid-b-622.ui-grid-b > .ui-block-c { width: 19.9% !important; }
    .grid-b-541.ui-grid-b > .ui-block-a { width: 49.9% !important; }
    .grid-b-541.ui-grid-b > .ui-block-b { width: 39.9% !important; }
    .grid-b-541.ui-grid-b > .ui-block-c { width: 9.9% !important; }
    .grid-c-7111.ui-grid-c > .ui-block-a { width: 69.9% !important; }
    .grid-c-7111.ui-grid-c > .ui-block-b { width: 9.9% !important; }
    .grid-c-7111.ui-grid-c > .ui-block-c { width: 9.9% !important; }
    .grid-c-7111.ui-grid-c > .ui-block-d { width: 9.9% !important; }
}

.ui-icon-testserver {
  background: url(images/Connect_logo_testserver.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  box-shadow: none;
}

.ui-icon-qq {
  background: url(images/Connect_logo_qq.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  box-shadow: none;
}

.ui-icon-sina {
  background: url(images/Connect_logo_sina.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

.ui-icon-baidu {
  background: url(images/Connect_logo_baidu.png);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  box-shadow: none;
}

